.getstarted-container{
    background-color: #4d84e2;
    border: none; 
    color: white; 
    padding: 12px 24px;
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 25px;
    margin-top:20px ;
    margin-bottom:20px ;
    margin-left: 700px;
  }

  